@font-face {
  font-family: "laiui";
  src: url("fonts/laiui.ttf?82q2pl") format("truetype"),
    url("fonts/laiui.woff?82q2pl") format("woff"),
    url("fonts/laiui.svg?82q2pl#laiui") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "laiui" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibo:before {
  content: "\ea9a";
}
.icon-qzone:before {
  content: "\e902";
}
.icon-qq:before {
  content: "\e903";
}
.icon-douban:before {
  content: "\e904";
}
.icon-top:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e901";
}
.icon-archive:before {
  content: "\e92e";
}
.icon-about:before {
  content: "\e976";
}

body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1.2;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
html,
body,
.container {
  height: 100%;
}
body {
  min-width: 320px;
  background: url("/img/white.png");
  font-size: 16px;
  font-family: "Microsoft YaHei", Arial, sans-serif;
}
.outer {
  max-width: 1220px;
  margin: 0 auto;
  padding: 30px 20px;
}
.outer:after {
  display: block;
  content: "";
  clear: both;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
.container {
  position: relative;
}
@media screen and (min-width: 768px) {
  .main {
    float: left;
    width: 73.33%;
    margin: 0 0.83%;
    padding-top: 30px;
  }
}
.article-date,
.article-category-link,
.archive-year,
.widget-title {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #888;
  margin-bottom: 1em;
  margin-left: 5px;
  line-height: 1em;
  text-shadow: 0 1px #fff;
  font-weight: bold;
}
.article-entry h1,
.widget h1,
.article-entry h2,
.widget h2,
.article-entry h3,
.widget h3,
.article-entry h4,
.widget h4,
.article-entry h5,
.widget h5,
.article-entry h6,
.widget h6 {
  font-weight: bold;
  color: #444;
  font-family: "Droid Serif", Georgia, Serif;
}
.article-entry h1 a,
.widget h1 a,
.article-entry h2 a,
.widget h2 a,
.article-entry h3 a,
.widget h3 a,
.article-entry h4 a,
.widget h4 a,
.article-entry h5 a,
.widget h5 a,
.article-entry h6 a,
.widget h6 a {
  color: #444;
  text-decoration: none;
}
.article-entry h1 a:hover,
.widget h1 a:hover,
.article-entry h2 a:hover,
.widget h2 a:hover,
.article-entry h3 a:hover,
.widget h3 a:hover,
.article-entry h4 a:hover,
.widget h4 a:hover,
.article-entry h5 a:hover,
.widget h5 a:hover,
.article-entry h6 a:hover,
.widget h6 a:hover {
  color: #258fb8;
}
.article-entry h2,
.widget h2,
.article-entry h3,
.widget h3,
.article-entry h4,
.widget h4,
.article-entry h5,
.widget h5,
.article-entry h6,
.widget h6 {
  font-weight: 600;
  margin-bottom: 10px;
}
.article-entry h1,
.widget h1 {
  font-size: 2em;
}
.article-entry h2,
.widget h2 {
  font-size: 1.5em;
}
.article-entry h3,
.widget h3 {
  font-size: 1.3em;
}
.article-entry h4,
.widget h4 {
  font-size: 1.2em;
}
.article-entry h5,
.widget h5 {
  font-size: 1em;
}
.article-entry h6,
.widget h6 {
  font-size: 1em;
  color: #888;
}
.article-entry hr,
.widget hr {
  border: 1px dashed #aaa;
}
.article-entry strong,
.widget strong {
  font-weight: bold;
}
.article-entry em,
.widget em,
.article-entry cite,
.widget cite {
  font-style: italic;
}
.article-entry sup,
.widget sup,
.article-entry sub,
.widget sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup,
.widget sup {
  top: -0.5em;
}
.article-entry sub,
.widget sub {
  bottom: -0.2em;
}
.article-entry small,
.widget small {
  font-size: 0.85em;
}
.article-entry acronym,
.widget acronym,
.article-entry abbr,
.widget abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
.widget ul,
.article-entry ol,
.widget ol,
.article-entry dl,
.widget dl {
  margin: 0 20px;
  line-height: 1.6em;
}
.article-entry ul ul,
.widget ul ul,
.article-entry ol ul,
.widget ol ul,
.article-entry ul ol,
.widget ul ol,
.article-entry ol ol,
.widget ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul,
.widget ul {
  list-style: disc;
}
.article-entry ol,
.widget ol {
  list-style: decimal;
}
.article-entry dt,
.widget dt {
  font-weight: bold;
}
.header {
  border-bottom: 1px solid #fafafa;
  background-color: #258fb8;
  background-image: url("/img/sunflower2.png");
  background-repeat:no-repeat;background-size: cover;
}
.header:after {
  display: block;
  content: "";
  clear: both;
}
.header-title {
  display: inline-block;
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
  margin: 70px 20px;
  text-decoration: none;
}
.main-nav {
  margin-left: 20px;
}
.main-nav-link {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.5em;
  display: inline-block;
  text-decoration: none;
  position: relative;
  width: 7.5em;
  background: #eee;
  box-sizing: border-box;
  color: #727272;
  text-align: center;
  transition: background 0.3s ease;
  box-shadow: 6px 12px 25px 2px rgba(68, 68, 68, 0.3);
}
.main-nav-link:hover {
  background: #d5d5d5;
  color: #444;
}
.main-nav-link:active {
  background: #b1b1b1;
  box-shadow: 9px 12px 25px 2px rgba(68, 68, 68, 0.3);
}
.main-nav-link:nth-child(1) {
  z-index: 998;
}
.main-nav-link:nth-child(2) {
  z-index: 997;
}
.main-nav-link:nth-child(3) {
  z-index: 996;
}
.main-nav-link:nth-child(4) {
  z-index: 995;
}
.main-nav-link:nth-child(5) {
  z-index: 994;
}
.main-nav-link:nth-child(6) {
  z-index: 993;
}
@media screen and (max-width: 479px) {
  .main-nav-link {
    display: none;
  }
}
.contenedor {
  box-sizing: border-box;
  float: right;
  margin: 50px 50px 0 0;
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 479px) {
  .contenedor {
    display: none;
  }
}
.contenedor ul {
  box-sizing: border-box;
  cursor: all-scroll;
  display: block;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  margin: 0;
  padding: 0;
  animation-name: spincube;
  animation-timing-function: ease;
  animation-iteration-count: forward;
  animation-duration: 10s;
  transform-style: preserve-3d;
  transform-origin: 50px 50px 0;
  transform: rotateX(-25deg) rotateY(32deg);
}
.contenedor ul li {
  box-sizing: border-box;
  background: rgba(253, 254, 255, 0.9);
  border: 1px solid #555;
  display: block;
  list-style-type: none;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 2.5em;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  user-select: none;
}
.cara:nth-child(1) {
  transform: translateZ(50px);
}
.cara:nth-child(2) {
  transform: rotateX(-90deg) translateZ(50px);
}
.cara:nth-child(3) {
  transform: rotateX(90deg) rotateZ(-90deg) translateZ(50px);
}
.cara:nth-child(4) {
  transform: rotateY(-90deg) translateZ(50px);
}
.cara:nth-child(5) {
  transform: rotateY(90deg) rotateZ(90deg) translateZ(50px);
}
.cara:nth-child(6) {
  transform: rotateY(180deg) translateZ(50px);
}
.animar {
  transition: all 1s;
}
.noanimar {
  transition: none;
}
@-moz-keyframes spincube {
  16% {
    transform: rotateX(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  66% {
    transform: rotateX(-90deg) rotateZ(-90deg);
  }
  83% {
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes spincube {
  16% {
    transform: rotateX(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  66% {
    transform: rotateX(-90deg) rotateZ(-90deg);
  }
  83% {
    transform: rotateY(180deg);
  }
}
@-o-keyframes spincube {
  16% {
    transform: rotateX(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  66% {
    transform: rotateX(-90deg) rotateZ(-90deg);
  }
  83% {
    transform: rotateY(180deg);
  }
}
@keyframes spincube {
  16% {
    transform: rotateX(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  66% {
    transform: rotateX(-90deg) rotateZ(-90deg);
  }
  83% {
    transform: rotateY(180deg);
  }
}
.article {
  margin-bottom: 50px;
}
.curve-down {
  display: inline-block;
  height: 100%;
  width: 100%;
  border: 1px solid #e0e0e0;
  border: none;
  border-top-color: #efefef;
  border-bottom-color: #ccc;
  border-radius: 100%/66px;
  box-shadow: 0 16px 6px -10px rgba(0, 0, 0, 0.2);
}
.fill-content {
  height: 100%;
  display: block;
  border-color: #fff;
  background: #f6f6f6;
  background: linear-gradient(to bottom, #f9f9f9 65%, #f7f7f7 100%);
  border-radius: 10px;
  box-shadow: 0 -6px 2px rgba(255, 255, 255, 0),
    inset 0 4px 2px rgba(255, 255, 255, 0.97), 0 0 6px -2px rgba(0, 0, 0, 0.8);
}
.article-meta {
  padding: 20px;
}
.article-meta span {
  margin-right: 10px;
}
.article-tag {
  color: #666;
  text-decoration: none;
}
.article-header {
  padding: 20px 20px 0;
}
.article-title {
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: #444;
  line-height: 1.1em;
  transition: color 0.2s;
}
a.article-title:hover {
  color: #258fb8;
}
.article-entry {
  color: #444;
  padding: 0 20px;
  word-wrap: break-word;
  overflow-x: auto;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
.article-entry p,
.article-entry table {
  line-height: 1.6em;
  margin: 1.6em 0;
  font-size: 1.1em;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: bold;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  line-height: 1.1em;
  margin: 1.1em 0;
}
.article-entry a {
  color: #258fb8;
  text-decoration: none;
}
.article-entry a:hover {
  text-decoration: underline;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  max-width: 100%;
  margin: 1.6em auto;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  font-weight: bold;
  border-bottom: 3px solid #aaa;
  padding: 10px 5px;
}
.article-entry td {
  border-bottom: 1px solid #aaa;
  padding: 10px 5px;
}
.article-entry blockquote {
  font-family: "Droid Serif", Georgia, Serif;
  margin: 1.6em 0;
  padding: 0 0.8em;
  border-left: 4px solid #ddd;
  color: #777;
}
.article-entry blockquote footer {
  font-size: 14px;
  margin: 1.6em 0;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans GB",
    "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial,
    sans-serif;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: #888;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  margin: 1.6em 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-entry .table-container {
  overflow: auto;
}
.article-entry .table-container th,
.article-entry .table-container td {
  max-width: 100px;
}
.toc-article {
  background: #f5f5f5;
  border: 1px dashed #bbb;
  margin: 1.5em 0 0.3em 1.5em;
  padding: 1.2em 1em 0 1em;
  width: 33%;
}
@media screen and (max-width: 479px) {
  .toc-article {
    width: 100%;
    margin: 1.5em 0 1em 0;
  }
}
.toc-title {
  font-size: 120%;
}
.toc {
  line-height: 1em;
  font-size: 0.9em;
  float: right;
  box-sizing: border-box;
}
.toc .toc {
  padding: 0;
  margin: 1em;
  line-height: 1.8em;
}
.toc .toc li {
  list-style-type: none;
}
.toc .toc-child {
  margin: 0 0 0 1em;
}
.article-more-link {
  display: inline-block;
  margin-bottom: 20px;
}
.article-footer {
  border-top: 1px solid #aaa;
  padding: 15px 10px;
}
.article-tag-list {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}
.article-tag-list-item {
  float: left;
  margin-right: 10px;
}
.article-tag-list-link:before {
  content: "#";
}
.article-nav {
  position: relative;
}
.article-nav:before,
.article-nav:after {
  content: "";
  display: table;
}
.article-nav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .article-nav {
    margin: 50px 0;
  }
  .article-nav:before {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    content: "";
    border-radius: 50%;
    background: #aaa;
    box-shadow: 0 1px 2px #fff;
  }
}
.article-nav-link-wrap {
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: #888;
  box-sizing: border-box;
  margin-top: 50px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #444;
}
@media screen and (min-width: 768px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .article-nav-newer {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .article-nav-older {
    float: right;
    text-align: left;
    padding-left: 20px;
  }
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #aaa;
  line-height: 1em;
  font-weight: bold;
}
.article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
}
.share-box {
  margin: 0 auto;
  padding-left: 10px;
  text-align: left;
  border-left: 3px solid rgba(255, 153, 153, 0.8);
}
.share-txt {
  margin-right: 5px;
  font-size: 12px;
  color: #999;
  vertical-align: middle;
}
.share-box i {
  display: inline-block;
  margin-right: 10px;
  opacity: 0.9;
  cursor: pointer;
  font-size: 20px;
  vertical-align: middle;
}
.share-box .icon-weibo {
  color: #d44137;
}
.share-box .icon-qzone {
  color: #fece00;
}
.share-box .icon-qq {
  color: #00aced;
}
.share-box .icon-douban {
  color: #38ad5a;
}
.qrcode {
  position: absolute;
  background: #fff;
  border: 1px solid #eee;
  z-index: 1;
}
.comments {
  background: #fafafa;
  box-shadow: 1px 2px 3px #ddd;
  padding: 20px;
  border-radius: 3px;
  margin: 50px 0;
}
.comments a {
  color: #258fb8;
}
.archives-wrap {
  margin: 50px 0;
}
.archives {
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
.archive-year-wrap {
  margin-bottom: 1em;
  line-height: 1em;
}
.archives {
  column-gap: 10px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .archives {
    column-count: 2;
  }
}
@media screen and (min-width: 768px) {
  .archives {
    column-count: 3;
  }
}
.archive-article {
  page-break-inside: avoid;
  overflow: hidden;
  break-inside: avoid-column;
}
.archive-article-inner {
  background: #fafafa;
  box-shadow: 0px 2px 4px -2px #888, inset 0 1px 1px rgba(255, 255, 255, 0.97),
    0 0 3px -1px rgba(0, 0, 0, 0.8);
  padding: 10px;
  margin-bottom: 15px;
}
.archive-article-header a {
  color: black;
  text-decoration: none;
}
.archive-article-header a:hover {
  text-decoration: underline;
}
.page-nav {
  margin: 50px auto;
  background: #fafafa;
  box-shadow: 1px 3px 2px #ddd;
  border-radius: 3px;
  text-align: center;
  color: #888;
  overflow: hidden;
}
.page-nav a,
.page-nav span {
  padding: 10px 17px;
  line-height: 1;
  height: 2ex;
}
.page-nav a {
  color: #888;
  text-decoration: none;
}
.page-nav a:hover {
  background: #888;
  color: #fff;
}
.page-nav .prev {
  float: left;
  padding: 10px 15px;
}
.page-nav .next {
  float: right;
  padding: 10px 15px;
}
.page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 479px) {
  .page-nav .page-number {
    display: none;
  }
}
.page-nav .current {
  color: #ddd;
  background: #555;
}
.page-nav .space {
  color: #aaa;
}
@media screen and (max-width: 479px) {
  .page-nav .space {
    display: none;
  }
}
.footer {
  background-color: black;
  color: white;
  padding: 25px 20px;
}
.footer a {
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.article-entry pre,
.article-entry .highlight {
  background: #272822;
  padding: 5px 20px;
  border-style: solid;
  border-color: #aaa;
  border-width: 1px 0;
  color: #f8f8f2;
  line-height: 22.400000000000002px;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  background: #f0f0f0;
  text-shadow: 0 1px #fff;
  font-size: 0.85em;
  padding: 0 0.3em;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  font-size: 1.1em;
  padding: 0;
  border: none;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #75715e;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 22.400000000000002px;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #aaa;
  border-width: 1px 0;
  background: #272822;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #272822;
  color: #75715e;
  font: 0.85em "Helvetica Neue", "Helvetica", "Hiragino Sans GB",
    "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial,
    sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .preprocessor {
  color: #75715e;
}
pre .tag {
  color: #f8f8f2;
}
pre .title,
pre .variable,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f92672;
}
pre .number,
pre .built_in,
pre .literal,
pre .constant {
  color: #ae81ff;
}
pre .params {
  color: #fd971f;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute,
pre .attribute {
  color: #a6e22e;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #e6db74;
}
pre .css .hexcolor {
  color: #a1efe4;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #66d9ef;
}
pre .keyword,
pre .javascript .function {
  color: #66d9ef;
}
.to-top {
  display: none;
  border-radius: 4px;
  position: fixed;
  right: 20px;
  bottom: 50px;
  cursor: pointer;
  opacity: 0.8;
  z-index: 99;
}
@media screen and (min-width: 768px) {
  .sidebar {
    display: inline;
    float: left;
    width: 23.333333333333332%;
    margin: 0 0.833333333333333%;
  }
}
.widget-wrap {
  margin-bottom: 50px;
}
.widget-title {
  padding: 8px 20px;
  font-weight: normal;
  border-bottom: 1px solid #aaa;
}
.widget {
  color: #777;
  padding: 0;
  border-radius: 3px;
  word-wrap: break-word;
  line-height: 1.6em;
  font-size: 0.99em;
}
.widget a {
  color: #888;
  text-decoration: none;
}
.widget a:hover {
  text-decoration: underline;
  color: #258fb8;
}
.widget ul ul,
.widget ol ul,
.widget dl ul,
.widget ul ol,
.widget ol ol,
.widget dl ol,
.widget ul dl,
.widget ol dl,
.widget dl dl {
  margin-left: 15px;
  list-style: disc;
}
.widget ul {
  padding: 0px 0px;
  background-color: #fafafa;
  border-radius: 3px;
  box-shadow: 0px 5px 3px -3px #888, inset 0 2px 1px rgba(255, 255, 255, 0.97),
    0 0 3px -1px rgba(0, 0, 0, 0.8);
}
.widget ul li {
  padding: 7px 30px;
  transition: color 0.1s;
}
.widget ul li:hover {
  background: #888;
}
.widget ul li:hover a {
  color: #fff;
}
.widget ul li:hover a:hover {
  text-decoration: underline;
}
.widget ul li:hover span {
  color: #fff;
}
.widget ul li a {
  color: #888;
  text-decoration: none;
}
.widget ul li:first-child:hover {
  border-radius: 3px 3px 0 0;
}
.widget ul li:last-child:hover {
  border-radius: 0 0 3px 3px;
}
.widget ul li:only-child:hover {
  border-radius: 3px;
}
.widget ul,
.widget ol {
  list-style: none;
  margin: 0;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin: 0 20px;
}
.widget ul ul,
.widget ol ul {
  list-style: disc;
}
.widget ul ol,
.widget ol ol {
  list-style: decimal;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #888;
  font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
.tagcloud a {
  margin-right: 5px;
}
.post-copyright {
  margin: 2em 0 0;
  padding: 0.5em 1em;
  border-left: 3px solid #FF1700;
  background-color: #FDF5E6;
  list-style: none;
}

.post-copyright li {
  /* line-height: 30px; */
  margin: 8px 0;
  list-style: none;
}