<div class="footer">
  <span class="footer-info">
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.title %>
  </span>
</div>
<div class="to-top">
	<a title="<%= __('totop')%>"></a>
</div>
<script src='//cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js' defer)></script>
<% if (is_post()) { %>
  <script src='//cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js' defer></script>
<% } %>
<% if (env.env === 'production') { %>
  <script src='//cdn.jsdelivr.net/gh/lhybaobei/lhybaobei.github.io@1.0/js/theme.min.js' defer></script>
<% } else { %>
  <script src='/js/theme.js' defer></script>
<% } %>